.inputMonth {
    float: left;
    margin: 5px;
}

.inputMonthNumber {
    width: 110px;
}

.inputMonthNumberParent {
    width: 110px;
}

.hidden {
    display: none;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 10px 10px 10px;
    font-size: 18px;
    line-height: 20px;
}

footer {
    margin: auto;
    height: 80px;
    text-align:center;
}