.inputMonth {
    float: left;
    margin: 5px;
}

.inputMonthNumber {
    width: 110px;
}

.inputMonthNumberParent {
    width: 110px;
}

.hidden {
    display: none;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 10px 10px 10px;
    font-size: 18px;
    line-height: 20px;
}

footer {
    margin: auto;
    height: 80px;
    text-align:center;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .panel-body {
        height: calc(100vh);
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .panel-body {
        height: calc(100vh);
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .panel-body {
        height: calc(100vh - 20px);
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .panel-body {
        height: calc(100vh - 80px);
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .panel-body {
        height: calc(100vh - 140px);
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
    .panel-body {
        height: calc(100vh - 140px);
    }
}

div.k-loading-mask
{
    z-index: 3; /* must be larger than the z-index:2 of ... */
}

/* By default the text is hidden, re-position the text */
span.k-loading-text
{
    display: none;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }

.k-spreadsheet-sheets-bar span.k-link:first-child{
  padding: .65em .92em;
}
 
.k-spreadsheet-sheets-bar .k-spreadsheet-sheets-remove{
  margin-left: -.5em;
}