.inputMonth {
    float: left;
    margin: 5px;
}

.inputMonthNumber {
    width: 110px;
}

.inputMonthNumberParent {
    width: 110px;
}

.hidden {
    display: none;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 10px 10px 10px;
    font-size: 18px;
    line-height: 20px;
}

footer {
    margin: auto;
    height: 80px;
    text-align:center;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .panel-body {
        height: calc(100vh);
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .panel-body {
        height: calc(100vh);
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .panel-body {
        height: calc(100vh - 20px);
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .panel-body {
        height: calc(100vh - 80px);
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .panel-body {
        height: calc(100vh - 80px);
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
    .panel-body {
        height: calc(100vh - 80px);
    }
}

div.k-loading-mask
{
    z-index: 3; /* must be larger than the z-index:2 of ... */
}

/* By default the text is hidden, re-position the text */
span.k-loading-text
{
    display: none;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }

.k-spreadsheet-sheets-bar span.k-link:first-child {
  padding: .65em .92em;
}
 
.k-spreadsheet-sheets-bar .k-spreadsheet-sheets-remove {
  margin-left: -.5em;
}

.panel-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    height:35px;
}

.km-buttongroup .k-button.km-state-active {
    background-color: #428bca;
}

.k-button.k-state-active, .k-button:active {
    background-color: #428bca;
}

.col-xs-4, .col-xs-5 {
    padding-left: 0px;
    padding-right: 0px;
}

.k-grid {
    font-family: "DejaVu Sans", "Arial", sans-serif;
}

.grid-ok-row {
    background-color: #ced;
}

.k-scheduler-timecolumn {
  display: none;
}

.k-scheduler {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: .9em;
}

.k-scheduler-refresh,
.k-i-reload {
    display: none;
}

/* Hide toolbar, navigation and footer during export */
.k-pdf-export .k-scheduler-toolbar,
.k-pdf-export .k-scheduler-navigation .k-nav-today,
.k-pdf-export .k-scheduler-navigation .k-nav-prev,
.k-pdf-export .k-scheduler-navigation .k-nav-next,
.k-pdf-export .k-scheduler-footer
{
    display: none;
}

.k-scheduler-monthview .k-scheduler-table td  {
    height: 40px !important;
}

#schedulerPortfolioDividend
{
    margin: 0;
    padding: 0;
    height: 100%;
    border-width: 0;
}

.gridportfolio-country-picture {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 2px;
}

.gridportfolio-country-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 6px;
}

div.red {
    color: red;
}